.bottom-section {
  background-color: rgba(30, 30, 30, 1);
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1.3fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
