.bottom-section {
  background-color: rgba(30, 30, 30, 1);
  height: calc(100vh - 230px);
  display: grid;
  grid-template-columns: 1fr 0.45fr;
  grid-template-rows: 1fr 1.3fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  padding: 30px 98px 90px 98px;
}
